$margin-center: 0 auto;

$text-black: #000;
$text-dark: #101010;
$text-red: #ed4c5c;
$light-grey: #FAFAFA;
$white: #fff;
$transparent: transparent;
$red-gradient: linear-gradient(
  90deg,
  rgba(213, 32, 71, 0.8) 0%,
  rgba(238, 61, 27, 0.8) 100%
);
