@import "../../sass/helpers/variables";
@import "../../sass/helpers/placeholders";

.download {
  width: 100%;
  box-sizing: border-box;
  background: $coral;
  display: flex;
  justify-content: flex-start;
  padding: 6.6% 11.46%;

  .download__text-block {
    width: 40%;
    max-width: 445px;
    box-sizing: border-box;
    margin: 2.6% 7.4% 1.5% 0;

    .download__heading {
      @extend %font-semibold;
      @extend %heading-laptop;
      color: $white;
      padding-bottom: 4.72%;
    }

    .download__text {
      @extend %font-regular;
      @extend %text-laptop;
      text-align: $text-justify;
      color: $white;
      padding: 5.4% 0 9%;
    }

    .download__links {
      @extend %list-decoration;
      display: flex;
      align-items: center;
      gap: 5.6%;

      .download__item {
        .download__link {
          @extend %transparent-button;
          @extend %hover-animation;
          padding: 0;

          .download__icon {
            width: 32px;
            height: 32px;
          }

          .download__icon_type_windows {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }

  .download__photo-block {
    width: 50%;
    max-width: 533px;
    position: relative;
    display: flex;

    .download__back-image {
      width: 100%;
      height: 85.85%;
      background-image: url("../../images/download-photo2.jpg"),
        url("../../images/download-photo3.jpg");
      background-size: 71.85% auto;
      background-position: left, right;
      background-repeat: no-repeat;
      border-radius: 15px;
      position: absolute;
      top: 7.07%;
    }

    .download__image {
      width: 84%;
      max-width: 445px;
      height: 100%;
      background-image: url("../../images/download-photo1.jpg");
      background-size: cover;
      background-position: center;
      border-radius: 15px;
      position: absolute;
      left: 8.26%;
    }
  }
}

@media screen and (max-width: 1180px) {
  .download {
    .download__text-block {
      .download__heading {
        font-size: 28px;
      }

      .download__text {
        font-size: $text-medium;
      }

      .download__links {
        .download__item {
          .download__link {
            .download__icon {
              width: 27px;
              height: 27px;
            }

            .download__icon_type_windows {
              width: 21px;
              height: 21px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .download {
    .download__text-block {
      .download__heading {
        font-size: 23px;
      }

      .download__text {
        font-size: $text-small;
      }

      .download__links {
        .download__item {
          .download__link {
            .download__icon {
              width: 23px;
              height: 23px;
            }

            .download__icon_type_windows {
              width: 19px;
              height: 19px;
            }
          }
        }
      }
    }

    .download__photo-block {
      .download__back-image {
        background-size: auto 85.85%;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .download {
    .download__text-block {
      width: 70%;

      .download__heading {
        font-size: $heading-mobile;
      }

      .download__links {
        .download__item {
          .download__link {
            .download__icon {
              width: 19px;
              height: 19px;
            }

            .download__icon_type_windows {
              width: 14px;
              height: 14px;
            }
          }
        }
      }
    }

    .download__photo-block {
      display: none;
    }
  }
}

@media screen and (max-width: 580px) {
  .download {
    .download__text-block {
      width: 80%;
    }
  }
}

@media screen and (max-width: 450px) {
  .download {
    .download__text-block {
      width: 90%;
    }
  }
}
