@import "../../sass/helpers/variables";
@import "../../sass/helpers/placeholders";

.promo {
  width: 100%;
  background-image: url("../../images/promo.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;

  .promo__background {
    width: 100%;
    height: 100%;
    background-image: $red-gradient;
    padding: 17.85% 0 12.99%;

    .promo__heading {
      @extend %font-bold;
      @extend %text-caps-white;
      font-size: 72px;
      line-height: 1.19;
      letter-spacing: $letter-spacing;
      margin: $margin-center;
    }

    .promo__subtitle {
      @extend %font-semibold;
      max-width: 540px;
      font-size: 24px;
      line-height: 1.5;
      color: $white;
      margin: $margin-center;
      padding: 2.71% 0;
    }

    .promo__sign-up-button {
      @extend %font-semibold;
      @extend %hover-animation;
      @extend %button-decoration;
      background: $white;
      border: none;
      text-transform: uppercase;
      color: $coral;
      margin: $margin-center;
      padding: 1.18% 3.68%;
    }
  }
}

@media screen and (max-width: 1180px) {
  .promo {
    .promo__background {
      .promo__heading {
        font-size: 68px;
      }
  
      .promo__subtitle {
        max-width: 450px;
        font-size: 20px;
      }
  
      .promo__sign-up-button {
        font-size: $button-medium;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .promo {
    .promo__background {
      .promo__heading {
        font-size: 54px;
      }
  
      .promo__subtitle {
        max-width: 350px;
        font-size: 16px;
      }
  
      .promo__sign-up-button {
        font-size: $button-small;
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .promo {
    .promo__background {
      .promo__heading {
        font-size: 32px;
        padding-top: 20px;
      }
  
      .promo__subtitle {
        max-width: 260px;
        font-size: 11px;
      }
  
      .promo__sign-up-button {
        font-size: $button-mobile;
      }
    }
  }
}

