.promo {
  background-image: url("../../images/promo.jpg");
  background-size: cover;
  background-position: center;
  background-color: linear-gradient(
    90deg,
    rgba(213, 32, 71, 0.8) 0%,
    rgba(238, 61, 27, 0.8) 100%
  );
}
