@import "../../sass/helpers/variables";
@import "../../sass/helpers/placeholders";

.logo {
  @extend %button-animation;
  padding: 0;
  border: none;
  background: $transparent;
  display: flex;
  align-items: flex-end;

  .logo__img {
    width: 29px;
    height: 29px;
    padding-right: 7px;
  }

  .logo__project {
    @extend %font-bold;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;
    margin: 0;
  }
}
