@import "../../sass/helpers/variables";
@import "../../sass/helpers/placeholders";

.card {
  width: 31.53%;
  position: relative;

  .card__photo {
    width: 100%;
    max-width: 350px;
    border-radius: 8px;
  }

  .card__text-block {
    width: 83.71%;
    max-width: 293px;
    background: $white;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
    box-sizing: border-box;
    position: absolute;
    top: 63%;
    left: 8.3%;
    z-index: 1;
    padding: 9.43% 9.14% 7.14%;

    .card__title {
      @extend %font-bold;
      @extend %title-laptop;
      margin: 0;
      padding-bottom: 8.7%;
    }

    .card__text {
      @extend %font-regular;
      @extend %text-big-line;
      margin: 0 0 5px;
      padding-bottom: 6.8%;
    }

    .card__link {
      @extend %font-bold;
      @extend %text-big-line;
      @extend %transparent-button;
      @extend %hover-animation;
      color: $coral;
      padding: 0;
    }
  }
}

@media screen and (max-width: 1180px) {
  .card {
    .card__text-block {
      padding: 8.43% 7% 6.14%;

      .card__title {
        font-size: $title-medium;
      }

      .card__text {
        font-size: $card-medium;
      }

      .card__link {
        font-size: $card-medium;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .card {
    .card__text-block {
      .card__title {
        font-size: $title-small;
      }

      .card__text {
        font-size: $card-small;
      }

      .card__link {
        font-size: $card-small;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .card {
    width: 70%;
    padding-bottom: 25%;

    .card__text-block {
      top: 42%;

      .card__title {
        font-size: $title-mobile;
      }

      .card__text {
        font-size: $card-medium;
        padding-bottom: 3%;
      }

      .card__link {
        font-size: $card-medium;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .card {
    .card__text-block {
      .card__text {
        display: none;
      }
    }
  }
}
