@import "../../sass/helpers/variables";
@import "../../sass/helpers/placeholders";

.video {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  padding: 6.6% 11.46%;

  .video__text-block {
    width: 40%;
    max-width: 445px;
    padding: 4% 11.3% 1.35% 0;

    .video__heading {
      @extend %font-semibold;
      @extend %heading-laptop;
      padding-bottom: 4.72%;
    }

    .video__text {
      @extend %font-regular;
      @extend %text-laptop;
      text-align: $text-justify;
      padding: 5.4% 0;
    }

    .video__link {
      @extend %font-regular;
      @extend %text-laptop;
      @extend %transparent-button;
      @extend %hover-animation;
      color: $coral;
      padding: 0;
    }
  }

  .video__video-block {
    width: 40%;
    max-width: 445px;
    position: relative;
    background-image: url("../../images/video.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;

    .video__play-button {
      @extend %transparent-button;
      @extend %hover-animation;
      width: 14.83%;
      padding: 0;
      position: absolute;
      top: 39.55%;
      left: -7.42%;

      .video__play-icon {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  .video {
    .video__text-block {
      .video__heading {
        font-size: $heading-medium;
      }

      .video__text {
        font-size: $text-medium;
      }

      .video__link {
        font-size: $text-medium;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .video {
    .video__text-block {
      .video__heading {
        font-size: $heading-small;
      }

      .video__text {
        font-size: $text-small;
      }

      .video__link {
        font-size: $text-small;
        padding-bottom: 7%;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .video {
    flex-direction: column;

    .video__text-block {
      width: 100%;

      .video__heading {
        font-size: $heading-mobile;
      }
    }

    .video__video-block {
      width: 100%;
      min-height: 200px;
      background-position: left;

      .video__play-icon {
        max-width: 35px;
        max-height: 35px;
      }
    }
  }
}
