@import "../../sass/helpers/variables";
@import "../../sass/helpers/placeholders";

.contact {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 8.13% 11.46% 8.54% 12.22%;

  .contact__text-block {
    width: 40%;
    max-width: 445px;
    padding-right: 11.36%;

    .contact__heading {
      @extend %font-semibold;
      font-size: 36px;
      line-height: 1.19;
      margin: 0;
      padding-bottom: 14.65%;
    }

    .contact__text {
      @extend %font-regular;
      font-size: 14px;
      line-height: 1.4;
      text-align: justify;
      margin: 0;
    }
  }

  .contact__form {
    width: 49%;
    max-width: 540px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 5.6%;
    grid-template-areas:
      "first-name surname"
      "phone phone"
      "select select"
      "submit .";

    .contact__input {
      @extend %font-regular;
      @extend %input-decoration;
      width: 100%;
      font-size: 16px;
      line-height: 1.19;
      padding: 3.9% 5.78%;

      &::placeholder {
        @extend %font-regular;
        font-size: 16px;
        line-height: 1.19;
        color: $placeholder;
      }
    }

    .contact__input_type_name {
      grid-area: first-name;
      padding: 8.24% 12.16%;
    }

    .contact__input_type_surname {
      grid-area: surname;
      padding: 8.24% 12.16%;
    }

    .contact__input_type_phone {
      grid-area: phone;
    }

    .contact__select {
      @extend %font-regular;
      @extend %input-decoration;
      grid-area: select;
      width: 100%;
      font-size: 16px;
      line-height: 1.19;
      color: $placeholder;
      padding: 3.9% 5.78%;
    }

    .contact__submit-button {
      @extend %font-regular;
      @extend %button-animation;
      grid-area: submit;
      width: 75%;
      max-width: 160px;
      background: $coral;
      border-radius: 6px;
      border: 1.5px solid $coral;
      font-size: 14px;
      line-height: 1.21;
      text-transform: uppercase;
      color: $white;
      padding: 6.7% 12.5%;
    }
  }
}

@media screen and (max-width: 1180px) {
  .contact {
    .contact__text-block {
      .contact__heading {
        font-size: 30px;
      }

      .contact__text {
        font-size: 12px;
      }
    }

    .contact__form {
      row-gap: 20px;

      .contact__input {
        font-size: 14px;

        &::placeholder {
          font-size: 14px;
        }
      }

      .contact__select {
        font-size: 14px;
      }

      .contact__submit-button {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .contact {
    .contact__text-block {
      .contact__heading {
        font-size: 20px;
      }

      .contact__text {
        font-size: 10px;
      }
    }

    .contact__form {
      row-gap: 15px;

      .contact__input {
        font-size: 12px;

        &::placeholder {
          font-size: 12px;
        }
      }

      .contact__select {
        font-size: 12px;
      }

      .contact__submit-button {
        width: 85%;
        font-size: 10px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .contact {
    flex-direction: column;

    .contact__text-block {
      width: 100%;
      max-width: 500px;
      padding: 0;

      .contact__heading {
        font-size: 18px;
        padding-bottom: 8%;
      }

      .contact__text {
        padding-bottom: 8%;
      }
    }

    .contact__form {
      width: 100%;
      row-gap: 20px;
    }
  }
}
