@import "../../sass/helpers/variables";
@import "../../sass/helpers/placeholders";

.contact {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 8.13% 11.46% 8.54% 12.22%;

  .contact__text-block {
    width: 40%;
    max-width: 445px;
    padding-right: 11.36%;

    .contact__heading {
      @extend %font-semibold;
      @extend %heading-laptop;
      padding-bottom: 14.65%;
    }

    .contact__text {
      @extend %font-regular;
      @extend %text-laptop;
      text-align: $text-justify;
    }
  }

  .contact__form {
    width: 49%;
    max-width: 540px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 5.6%;
    grid-template-areas:
      "first-name surname"
      "phone phone"
      "select select"
      "submit .";

    .contact__input {
      @extend %font-regular;
      @extend %input-decoration;
      @extend %text-input;
      width: 100%;
      padding: 3.9% 5.78%;

      &::placeholder {
        @extend %font-regular;
        @extend %text-input;
        color: $placeholder;
      }
    }

    .contact__input_type_name {
      grid-area: first-name;
      padding: 8.24% 12.16%;
    }

    .contact__input_type_surname {
      grid-area: surname;
      padding: 8.24% 12.16%;
    }

    .contact__input_type_phone {
      grid-area: phone;
    }

    .contact__select {
      @extend %font-regular;
      @extend %input-decoration;
      @extend %text-input;
      grid-area: select;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      appearance: none;
      background-image: url(../../images/select-arrow-icon.svg);
      background-size: 14px 14px;
      background-position: 95%;
      background-repeat: no-repeat;
      color: $placeholder;
      padding: 3.9% 5.78%;

      &:disabled {
        color: $placeholder;
        opacity: 1;
        background-color: $transparent;
      }
    }

    .contact__submit-button {
      @extend %font-regular;
      @extend %button-decoration;
      @extend %hover-animation;
      grid-area: submit;
      width: 75%;
      max-width: 160px;
      background: $coral;
      border: 1.5px solid $coral;
      text-transform: uppercase;
      color: $white;
      padding: 6.7% 12.5%;
    }
  }
}

@media screen and (max-width: 1180px) {
  .contact {
    .contact__text-block {
      .contact__heading {
        font-size: $heading-medium;
      }

      .contact__text {
        font-size: $text-medium;
      }
    }

    .contact__form {
      row-gap: 20px;

      .contact__input {
        font-size: $input-medium;

        &::placeholder {
          font-size: $input-medium;
        }
      }

      .contact__select {
        font-size: $input-medium;
        background-size: 12px 12px;
      }

      .contact__submit-button {
        font-size: $text-medium;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .contact {
    .contact__text-block {
      .contact__heading {
        font-size: $heading-small;
      }

      .contact__text {
        font-size: $text-small;
      }
    }

    .contact__form {
      row-gap: 15px;

      .contact__input {
        font-size: $input-small;

        &::placeholder {
          font-size: $input-small;
        }
      }

      .contact__select {
        font-size: $input-small;
        background-size: 10px 10px;
      }

      .contact__submit-button {
        width: 85%;
        font-size: $text-small;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .contact {
    flex-direction: column;

    .contact__text-block {
      width: 100%;
      max-width: 500px;
      padding: 0;

      .contact__heading {
        font-size: $heading-mobile;
        padding-bottom: 8%;
      }

      .contact__text {
        padding-bottom: 8%;
      }
    }

    .contact__form {
      width: 100%;
      row-gap: 20px;
    }
  }
}
