@import "../../sass/helpers/variables";
@import "../../sass/helpers/placeholders";

.features {
  width: 100%;
  box-sizing: border-box;
  background: $light-grey;
  padding: 4.38% 11.46% 15.9%;

  .features__heading {
    @extend %font-semibold;
    @extend %heading-laptop;
    text-align: center;
    margin-bottom: 5.68%;
    padding-bottom: 1.1%;
  }

  .features__cards {
    @extend %list-decoration;
    display: flex;
    gap: 2.7%;
  }
}

@media screen and (max-width: 1180px) {
  .features {
    .features__heading {
      font-size: $heading-medium;
    }
  }
}

@media screen and (max-width: 960px) {
  .features {
    padding-bottom: 22%;

    .features__heading {
      font-size: $heading-small;
    }
  }
}

@media screen and (max-width: 650px) {
  .features {
    padding-bottom: 8%;

    .features__heading {
      font-size: $heading-mobile;
    }

    .features__cards {
      flex-direction: column;
      align-items: center;
    }
  }
}
