@import "../../sass/helpers/variables";
@import "../../sass/helpers/placeholders";

.features {
  width: 100%;
  box-sizing: border-box;
  background-color: $light-grey;
  padding: 4.38% 11.46% 15.9%;

  .features__heading {
    @extend %font-semibold;
    font-size: 36px;
    line-height: 1.19;
    text-align: center;
    margin: 0;
    padding-bottom: 5.68%;
  }

  .features__cards {
    @extend %list-decoration;
    display: flex;
    gap: 2.7%;
  }
}
