@import "../../sass/helpers/variables";
@import "../../sass/helpers/placeholders";

.footer {
  width: 100%;
  box-sizing: border-box;
  background: $light-grey;
  padding: 5.9% 11.53%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2.7%;
  grid-template-areas:
    "address services contacts payments"
    "copyright copyright copyright copyright";

  .footer__text-block {
    width: 100%;
    max-width: 254px;

    .footer__title {
      @extend %font-bold;
      @extend %title-laptop;
      margin: 0;
      padding-bottom: 13%;
    }

    .footer__text {
      @extend %font-regular;
      @extend %text-big-line;
      margin: 0;
      padding-right: 20%;
    }

    .footer__text_type_mail {
      line-height: 1.17;
    }

    .footer__text_type_phone {
      line-height: 1.17;
      color: $text-contact;
      padding-top: 4.33%;
    }

    .footer__links {
      @extend %list-decoration;
      padding-right: 20%;

      .footer__item {
        .footer__link {
          @extend %font-regular;
          @extend %hover-animation;
          font-size: 12px;
          line-height: 1.6;
          text-decoration: none;
          color: $text-black;
        }
      }
    }

    .footer__social-media {
      @extend %list-decoration;
      display: flex;
      align-items: center;
      padding-top: 7.9%;

      .footer__item {
        padding-right: 13px;

        .footer__media {
          @extend %transparent-button;
          @extend %hover-animation;

          .footer__icon {
            width: 12px;
            height: 12px;
          }
        }
      }
    }

    .footer__payments {
      width: 85%;
      max-width: 216px;
    }
  }

  .footer__text-block_type_address {
    grid-area: address;
  }

  .footer__text-block_type_services {
    grid-area: services;
  }

  .footer__text-block_type_contacts {
    grid-area: contacts;
  }

  .footer__text-block_type_payments {
    grid-area: payments;
  }

  .footer__copyright {
    @extend %font-regular;
    @extend %text-small-line;
    grid-area: copyright;
    color: $text-dark;
    position: relative;
    left: -5px;
    padding-top: 8.6%;
  }
}

@media screen and (max-width: 1180px) {
  .footer {
    .footer__text-block {
      .footer__title {
        font-size: $title-medium;
      }

      .footer__text {
        font-size: 11px;
      }

      .footer__links {
        .footer__item {
          .footer__link {
            font-size: 11px;
          }
        }
      }
    }

    .footer__copyright {
      font-size: 11px;
    }
  }
}

@media screen and (max-width: 960px) {
  .footer {
    .footer__text-block {
      .footer__title {
        font-size: $title-small;
      }

      .footer__text {
        font-size: 10px;
      }

      .footer__links {
        .footer__item {
          .footer__link {
            font-size: 10px;
          }
        }
      }

      .footer__social-media {
        .footer__item {
          padding-right: 11px;

          .footer__media {
            .footer__icon {
              width: 11px;
              height: 11px;
            }
          }
        }
      }
    }

    .footer__copyright {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 650px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "address services"
      "payments contacts"
      "copyright copyright";

    .footer__text-block {
      .footer__title {
        font-size: 13px;
        padding-bottom: 6.5%;
      }

      .footer__links {
        padding-bottom: 15%;
      }

      .footer__social-media {
        .footer__item {
          padding-right: 10px;

          .footer__media {
            .footer__icon {
              width: 10px;
              height: 10px;
            }
          }
        }
      }

      .footer__payments {
        width: 80%;
      }
    }
  }
}
