@import "../../sass/helpers/variables";
@import "../../sass/helpers/placeholders";

.techs {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 4.38% 11.46% 7.22%;

  .techs__heading {
    @extend %font-semibold;
    @extend %heading-laptop;
    margin-bottom: 4.68%;
    padding-bottom: 1.1%;
  }

  .techs__list {
    @extend %list-decoration;
    display: flex;
    gap: 2.7%;

    .techs__item {
      width: 23%;
      padding: 0 2.7% 4px 3.06%;

      .techs__number {
        @extend %font-bold;
        max-width: 117px;
        font-size: 100px;
        line-height: 1.2;
        color: $text-grey;
        position: relative;
        margin: $margin-center;

        .techs__icon {
          width: 80px;
          height: 80px;
          position: absolute;
          bottom: -15.8%;
          left: 16.24%;
        }

        .techs__icon_type_secure {
          width: 66px;
          height: 66px;
          bottom: -9.17%;
          left: 22.22%;
        }

        .techs__icon_type_download {
          width: 47px;
          height: 54px;
          bottom: -4.17%;
          left: 29.91%;
        }
      }

      .techs__title {
        @extend %font-bold;
        @extend %title-laptop;
        margin: 9.95% 0 5.24%;
      }

      .techs__text {
        @extend %font-regular;
        @extend %text-small-line;
        padding-bottom: 12%;
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  .techs {
    .techs__heading {
      font-size: $heading-medium;
    }

    .techs__list {
      .techs__item {
        padding: 0 2.7% 4px;

        .techs__number {
          max-width: 110px;
          font-size: 90px;

          .techs__icon {
            width: 70px;
            height: 70px;
          }

          .techs__icon_type_secure {
            width: 62px;
            height: 62px;
          }

          .techs__icon_type_download {
            width: 43px;
            height: 50px;
          }
        }

        .techs__title {
          font-size: $title-medium;
        }

        .techs__text {
          font-size: $card-medium;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .techs {
    .techs__heading {
      font-size: $heading-small;
    }

    .techs__list {
      .techs__item {
        padding: 0 2% 3px;

        .techs__number {
          max-width: 100px;
          font-size: 80px;

          .techs__icon {
            width: 65px;
            height: 65px;
          }

          .techs__icon_type_secure {
            width: 56px;
            height: 56px;
            bottom: -9.9%;
          }

          .techs__icon_type_download {
            width: 40px;
            height: 45px;
            bottom: -6%;
          }
        }

        .techs__title {
          font-size: $title-small;
          margin-top: 15%;
        }

        .techs__text {
          font-size: $card-small;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .techs {
    .techs__heading {
      font-size: $heading-mobile;
    }

    .techs__list {
      .techs__item {
        .techs__number {
          max-width: 75px;
          font-size: 65px;

          .techs__icon {
            width: 54px;
            height: 54px;
          }

          .techs__icon_type_secure {
            width: 44px;
            height: 44px;
          }

          .techs__icon_type_download {
            width: 32px;
            height: 38px;
          }
        }

        .techs__title {
          font-size: $title-mobile;
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .techs {
    .techs__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
      column-gap: 5%;

      .techs__item {
        width: 100%;

        .techs__number {
          max-width: 90px;
          font-size: 75px;

          .techs__icon {
            width: 62px;
            height: 62px;
          }

          .techs__icon_type_secure {
            width: 51px;
            height: 51px;
          }

          .techs__icon_type_download {
            width: 37px;
            height: 42px;
          }
        }

        .techs__text {
          max-width: 180px;
          margin: $margin-center;
        }
      }
    }
  }
}
